.cal-body {
  display: grid;
  grid-gap: 10px;
  max-width: 300px;
}

.numbers-grid {
  display: grid;
  grid-gap: 10px;
}

.number {
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}
.cal-body {
  display: grid;
  grid-gap: 10px;
  max-width: 300px;
}

.numbers-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.number {
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}

.ac {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.slash {
  grid-column: 3;
  grid-row: 1;
}

.multiply {
  grid-column: 1;
  grid-row: 2;
}

.number1 {
  grid-column: 2;
  grid-row: 2;
}

.number2 {
  grid-column: 3;
  grid-row: 2;
}

.number3 {
  grid-column: 4;
  grid-row: 2;
}

.number4 {
  grid-column: 1;
  grid-row: 3;
}

.number5 {
  grid-column: 2;
  grid-row: 3;
}

.number6 {
  grid-column: 3;
  grid-row: 3;
}

.number7 {
  grid-column: 4;
  grid-row: 3;
}

.number8 {
  grid-column: 1;
  grid-row: 4;
}

.plus {
  grid-column: 2;
  grid-row: 4;
}

.number9 {
  grid-column: 3;
  grid-row: 4;
}

.number0 {
  grid-column: 1;
  grid-row: 5;
  grid-column-end: span 2;
}

.minus {
  grid-column: 3;
  grid-row: 5;
}

.dot {
  grid-column: 4;
  grid-row: 4;
}

.equals {
  grid-column: 4;
  grid-row: 5;
}

#number {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}
